{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

    <div class="container">
        <div class="row">
            <br>
            <div class="col-xs-12">
                <h2 class="text-center">Réinitialisation mot de passe</h2>
                <div class="alert alert-success">{{ 'resetting.check_email'|trans({'%email%': email}) }}</div>
            </div>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
        </div>
    </div>




{% endblock %}
