{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="text-center">Réinitialisation mot de passe</h2>
                <div class="alert alert-warning">{{ 'resetting.password_already_requested'|trans }}</div>
            </div>
        </div>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
    </div>
{% endblock fos_user_content %}
