{# src/ecommerce/AccueilBundle/Resources/views/Accueil/404.html.twig #}

{% extends "ecommerceAccueilBundle::layout.html.twig" %}

{% block titre %}
    Page introuvable ! - {{ parent() }}
{% endblock %}

{% block contenu_accueil %}

    <div class="container">

        <div class="col-md-12">

            <ul class="breadcrumb">
                <li><a href="{{ path('ecommerce_accueil_accueil') }}">Accueil</a>
                </li>
                <li>Page introuvable !</li>
            </ul>


            <div class="row" id="error-page">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="box">

                        <p class="text-center">
                            <img src="{{ asset('images/logo.png') }}" alt="Accueil">
                        </p>

                        <h3>La page que vous cherchez n'existe pas (ou plus).</h3>
                        <h4 class="text-muted">Erreur 404 - Page introuvable</h4>

                        <p class="text-center">Pour continuer vueillez utiliser le formulaire de <strong>recherche</strong> ou le <strong>menu</strong> ci-dessus.</p>

                        <p class="buttons"><a href="{{ path('ecommerce_accueil_accueil') }}" class="btn btn-primary"><i class="fa fa-home"></i> Allez à l'accueil</a>
                        </p>
                    </div>
                </div>
            </div>


        </div>
        <!-- /.col-md-9 -->
    </div>
    <!-- /.container -->

{% endblock %}